{% extends "page.html" %}

{% block subtitle %}{{ gettext('Error %(error_code)s', error_code=code[0]) }}{% endblock %}

{% block primary %}
<style>body{display:none}</style>
  <article class="module">
    <div class="module-content">
      {{ content}}
      <script>
      $( document ).ready(function() {
  
        function reDir(){
          var d = $.Deferred();
          setTimeout(function(){
            var str = document.referrer;
            var loc = window.location.href;
            //console.log("str:" + str)
            //console.log("loc:" + loc)
            var n = str.includes('identity.oraclecloud.com');        
            if(n){
                 window.location.replace("https://city07.sfgov.org/dashboard");
            }
            d.resolve();
          },100);  
          return d.promise();
        }
        function showPage(){
          var d = $.Deferred();
          setTimeout(function(){
            $('body').css('display','block');
            d.resolve();
          },1000);
          return d.promise();
        }
        reDir().pipe(showPage());  
      });
      </script>
    </div>
  </article>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block flash %}
  {# eat the flash messages caused by the 404 #}
  {% set flash_messages = h.flash.pop_messages() %}
{% endblock %}

{% block secondary %}
{% endblock %}
