{% ckan_extends %}

    {% block footer_content %}
    <div class="row">
      <div class="span5 col1 footer-links group-1">
          <ul>            
            <li class="footer-ccsf">City and County of San Francisco</li>
          </ul>
      </div>
      <div class="footer-links group-2">
          <ul class="unstyled"">
            <li><a href="/about">About</a></li>
            <li><a href="/user/login">Log In</a></li>
            <li><a href="https://docs.ckan.org/en/latest/" target="_blank">ckan API</a></li>
          </ul>
      </div>	

      <div class="attribution">
        {% block footer_attribution %}
          <p>
            {% trans %}
              <span id="footer-attribution-text">Powered by</span>
              <div style="white-space:nowrap" id="footer-attribution-content">
                <a class="hide-text" target="_blank" href="http://ckan.org"><img src="/img/ckan_logo_white.png" alt=""></img></a>
              </div>
            {% endtrans %}
          </p>
        {% endblock %}
        {#
        {% block footer_lang %}
          {% snippet "snippets/language_selector.html" %}
        {% endblock %}
        #}
      </div>
    {% endblock %}

