{% ckan_extends %}

{%- block page -%}
<input type="checkbox" id="hb__trigger" class="hb__trigger" aria-hidden="true">
<div class="main-navigation">
    <div class="region region-navigation">
      <ul class="menu">
       <li class="menu__item is-leaf first leaf secondary-menu-item">
        <a href="{{ h.url_for('search') }}" class="menu__link">{{ _('Datasets') }}</a>
      </li>
      <li class="menu__item is-leaf leaf secondary-menu-item">
        <a href="{{ h.url_for('organizations_index') }}" class="menu__link">{{ _('Organizations') }}</a>
      </li>
      <li class="menu__item is-leaf leaf secondary-menu-item">
        <a href="{{ h.url_for('group_index') }}" class="menu__link">{{ _('Topics') }}</a>
      </li>
      <li class="menu__item is-leaf leaf secondary-menu-item">
        <a href="{{ h.url_for('about') }}" class="menu__link">{{ _('About') }}</a>
      </li>
      <div class="side-nav-account">
        {% block header_account %}
          {% block header_account_container_content %}
            {% if c.userobj %}
              <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
                <ul class="unstyled">
                  {% block header_account_logged %}
                    {% if c.userobj.sysadmin %}
                      <li>
                        <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                          <span class="text">{{ _('Admin') }}</span>
                        </a>
                      </li>
                    {% endif %}
                    <li>
                      <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                        <span class="username">{{ c.userobj.display_name }}</span>
                      </a>
                    </li>
            
                    <li>
                      <a href="/dashboard" title="Dashboard">
                        <span class="text">{{ _('Dashboard') }}</span>
                      </a>
                    </li>

                    {% block header_account_settings_link %}
                      <li>
                        <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                          <span class="text">{{ _('Settings') }}</span>
                        </a>
                      </li>
                    {% endblock %}
                    {% block header_account_log_out_link %}
                      <li class="logout">
                        <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                          <span class="text">{{ _('Log out') }}</span>
                        </a>
                      </li>
                      </li>
                    {% endblock %}
                  {% endblock %}
                </ul>
              </div>
            {% else %}
              <nav class="account not-authed">
                <ul class="unstyled">
                  {% block header_account_notlogged %}
                    <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
                    {% if h.check_access('user_create') %}
                      <li>{% link_for _('Sign up'), controller='user', action='register', class_='sub' %}</li>
                    {% endif %}
                  {% endblock %}
                </ul>
              </nav>
            {% endif %}
          {% endblock %}
        {% endblock %}
    </div>
<!--      <li class="menu__item is-leaf first leaf secondary-menu-item">
        <a href="/showcase" class="menu__link">{{ _('Showcases') }}</a>
      </li>

      <li class="menu__item is-leaf first leaf secondary-menu-item">
        <a href="https://www.boston.gov/news?title=&field_contact_target_id%5B%5D=1691&field_published_date_value%5Bmin%5D%5Bdate%5D=&field_published_date_value%5Bmax%5D%5Bdate%5D=" class="menu__link" target="_blank">{{ _('News') }}</a>
      </li>
-->	  
 
    </ul>
  </div>
</div>
<div class="page" id="page">
  {% block skip %}
    <div class="hide skip-link"><a href="#content">{{ _('Skip to content') }}</a></div>
  {% endblock %}

  {%- block header %}
    {% include "header.html" %}
  {% endblock -%}

  {%- block content %}
    {% block maintag %}<div role="main">{% endblock %}
      <div id="content" class="container">
        {% block main_content %}
          {% block flash %}
            {{ super() }}
          {% endblock %}
          {% block toolbar %}
            {{ super() }}
          {% endblock %}
          <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' %} no-nav{% endif %}">
            {% block pre_primary %}
              {{ super() }}
            {% endblock %}
            {% block primary %}
              <div class="primary span9 main-responsive-panel">
                {% block primary_content %}
                  {{ super() }}
                {% endblock %}
              </div>
            {% endblock %}
            {% block secondary %}
              <aside class="secondary span3 aside-fixed-panel">
                {% block secondary_content %}
                  {{ super() }}
                {% endblock %}
              </aside>
            {% endblock %}
          </div>
        {% endblock %}
      </div>
    </div>
  {% endblock -%}

  {%- block footer %}
    {% include "footer.html" %}
  {% endblock -%}
</div>
{%- endblock -%}
