{% extends "page.html" %}

{% block subtitle %}{{ _('Getting Started') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active"><a href="start">Getting Started</a></li>
{% endblock %}

{% block primary %}


        <div id="getting-started">
            <div class="page">
                <h1>Welcome to SF Data-as-a-Service!</h1>
                <p> The distribution and analysis of datasets is a common need across CCSF departments. SF Data-as-a
                    Service
                    (DaaS) seeks to create persistent, governed, high quality datasets for internal City use to support
                    data
                    distribution, modernize data integration, and set the basis for advanced analytics, including
                    predictive
                    analytics, artificial intelligence and machine learning to gain deeper insights into our data and
                    support the
                    City’s strategic initiatives.
                    DaaS is a governed, secure and flexible platform on SF Cloud protected by CCSF firewalls the where
                    CCSF
                    resources can:</p>
                <ul>
                    <li><p>Discover, prepare, and share relevant data internally within CCSF from a wide range of sources</p>
                    </li>
                    <li><p>Reduce the overhead of managing numerous file formats from many different places</p></li>
                    <li><p>Explore and create a shared understanding of your data</p></li>
                    <li><p>Contribute and discuss data in one place to aid fast, efficient, and fruitful collaboration</p></li>
                </ul>
                <p>We offer CCSF departments and teams private, secure environments in which they can collaborate
                    together and put
                    data and insights in the hands of those who need them while keeping valuable work secure. As a
                    result, your
                    team's analysis and work will be more reproducible, reusable, and available for further
                    collaboration.
                    DaaS is available only internally at CCSF and is comprised of the following services:</p>
                <ol>
                    <li><p><strong>Creation of Reference Datasets:</strong> Datasets are procured from the System of Record
                        or a
                        Department and are curated, documented, and made available consistently across departments.
                        Curated data will
                        be stored in the CCSF Data Lake.</p></li>
                    <li><p><strong>Data Distribution/Consumption:</strong> Data is distributed (or consumed) from the CCSF
                        Data Lake
                        based on the purpose and need (e.g. for integration with other systems, for analysis and
                        dashboarding, for
                        reporting) with a governance framework that ensures compliance to policies and regulations.</p>
                    </li>
                </ol>
                <h2>Accessing SF DaaS</h2>
                <p> DaaS is configured to provide secure access via IAM. When datasets are added to DaaS, they can be
                    marked as
                    public or private. Public datasets are visible to everyone who has been authorized with a CCSF
                    network login.
                </p>
                <p>Private datasets can only be seen by logged-in users who are members of the dataset’s organization.
                    Private
                    datasets are not shown in general dataset searches but are shown in dataset searches within the
                    organization.
                </p>
            <!--    
                <p>When you access DaaS for the first time, ….. How to enroll in DaaS?
                    <todo>Need to know how IAM will change the way we login for the first time… will it auto create the account in Ckan</todo>
                </p>
            -->
                <p>Once you are enrolled, you can request to be added to Organizations with whom you have a data sharing
                    agreement. You are then ready to publish your datasets for collaboration with other team as well as
                    access
                    datasets shared with you.</p>

                <h2>Manage Accounts</h2>
                <p> DT will be the <strong>sysadmin</strong> of DaaS. A sysadmin is an administrator of the DaaS site
                    itself.
                    Sysadmins can always do everything, including adding, editing and deleting datasets, organizations
                    and groups,
                    regardless of the organization roles and configuration options described below.</p>
                <p>DT will setup the Organization and assign an Organization Admin for each organization. The
                    Organization Admin
                    is an administrator of a particular organization within the site, with control over that
                    organization and its
                    members and datasets. The Organization Admin can then manage user access to the datasets within that
                    organization.</p>
                <p>An Organization Admin can:</p>
                <ul>
                    <li><p>View the organization’s private datasets</p></li>
                    <li><p>Add new datasets to the organization</p></li>
                    <li><p>Edit or delete any of the organization’s datasets</p></li>
                    <li><p>Make datasets public or private</p></li>
                    <li><p>Add users to the organization, and choose whether to make the new user a member, editor or admin</p>
                    </li>
                    <li><p>Change the role of any user in the organization, including other admin users</p></li>
                    <li><p>Remove members, editors or other admins from the organization</p></li>
                    <li><p>Edit the organization itself (for example: change the organization’s title, description or
                        image)</p></li>
                    <li><p>Delete the organization</p></li>
                </ul>

                <p>An Editor can:</p>
                <ul>
                    <li><p>View the organization’s private datasets</p></li>
                    <li><p>Add new datasets to the organization</p></li>
                    <li><p>Edit or delete any of the organization’s datasets</p></li>
                </ul>

                <p>An Member can:</p>
                <ul>
                    <li>View the organization’s private datasets</li>
                </ul>

                <h2>Build your Data Catalog</h2>
                <!--
                <p><todo>Adding your data</todo></p>
                <p><todo>Documenting your data</todo></p>
                <p><todo>Organizing &amp; managing your data</todo></p>
                -->

                <h3>Sharing &amp; Collaboration</h3>
                <h4>Sharing within an organization</h4>

                <p> <strong>Organization-owned dataset<br></strong>Suppose you are part of an organization on DaaS and
                    would like to create a new project or dataset. You can choose to create the asset in your own
                    account or within the organization's account. In both cases, you will maintain control over the
                    dataset or project. You can invite contributors, change visibility from private to public, and edit
                    it as often as you like.</p>
                <p>When you create a dataset or project with the organization as the owner, you can choose whether to
                    share it with all who can access DaaS, just the organization, or with no one at all. When you choose
                    to share it with the organization, the organizations members will receive View only permission by
                    default. </p>

                <p><strong>Member-owned dataset<br></strong>Individuals can share a dataset with an organization exactly
                    the same way they share with other individuals. Just go to the Contributors tab on a dataset or
                    People tab on a project, and use the Invite button to add the organization. </p>
                <p>Once added, the organization's administrators will receive a notification they can accept or reject.
                    If they accept the invitation, the dataset will then be shared across the organization's top-level
                    members using the same permissions the organization received.</p>

                <h4>Setting permissions to your dataset</h4>
                <p>Owners of datasets and projects can invite specific users to contribute or approve incoming requests
                    from users who want to contribute. Either way, the owner controls what each contributor can do by
                    granting three levels of permissions:</p>
                <ul>
                    <li><p>View only</p></li>
                    <li><p>View + edit</p></li>
                    <li><p>View + edit + manage</p></li>
                </ul>
                <p>See How to add collaborators for instructions for allowing others to access to your datasets and
                    projects. Here's what each permission level will allow a contributor to do:</p>
                <p><strong>View only:</strong> primarily used for private datasets and projects, this allows the user to
                    simply view the dataset or project. As part of that, the contributor can:</p>
                <ul>
                    <li><p>Download any of the files.</p></li>
                    <li><p>Query the data and export results.</p></li>
                    <li><p>View and comment in either public or private discussions.</p></li>
                    <li><p>Create new discussion topics.</p></li>
                </ul>
                <p><strong>View + edit:</strong> in addition to the view-only permissions, the contributor can:</p>
                <ul>
                    <li><p>Make edits to descriptions and summaries.</p></li>
                    <li><p>Add and remove tags.</p></li>
                    <li><p>Add and remove files.</p></li>
                    <li><p>Replace files by uploading new versions with the same name.</p></li>
                    <li><p>Modify file and column descriptions.</p></li>
                    <li><p>Modify license type.</p></li>
                    <li><p>Switch the dataset or project between open and private.</p></li>
                    <li><p>Publish queries for others to use.</p></li>
                </ul>
                <p><strong>View + edit + manage:</strong> The contributor will have full admin controls to the dataset or project. In addition to the view + edit permissions, they can:</p>
                <ul>
                    <li><p>Delete the dataset or project.</p></li>
                    <li><p>Add, remove and modify contributors.</p></li>
                </ul>
                <h4>Adding collaborators </h4>
                <p>Have a dataset or project you'd like to share with a colleague for review or contributions? Hunting for some missing data to complete your project and want to put out the request for someone in the DaaS community to help?</p>
                <p>You can send a request to any DaaS user to become a contributor on your dataset or project. After a contributor has been added, you can also return to People or Contributors tab to control their level of access or remove access entirely.</p>
            </div>
        </div>


{% endblock %}

{% block secondary %}{% endblock %}