{% set title = g.site_title %}
{% set intro = g.site_intro_text %}

{# Use hero slider instead of default hero content #}
  <script>
 $( document ).ready(function() { 
var particles = Particles.init({
  selector: '.lineart',
  color: ['#FFFFFF', '#FFFFFF', '#FFFFFF'],
  connectParticles: true
});
 });

</script>  
<div role="main" class="hero">
  <div id="content" tabindex="-1" style="display:none"></div>
  <div class="tint"></div>
  <div class="animation-container">
    <canvas class="lineart"></canvas>
  </div>
  <div class="container">
    <div class="row row1">
      <div class="span12">
        <div class="module-content box">
        <!--
         <div class="landing-hero-intro-text">
            <div class="intro-text supporting-text">&nbsp;</div>
          </div>
          -->
          <h1 class="shoutout">{{title}}</h1>
          <div class="hero-text-description secondary-heading daas-text">
          {% if intro %}
            {{ h.render_markdown(intro) }}
          {% endif %}
           
          </div>
        </div>
      </div>
    </div>
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
  <!--
  <div class="hero-text-description secondary-heading"> 
  {{ h.dt_theme_dataset_count() }} Datasets and growing. <a href="/about">Learn more about SF DaaS</a>
  </div>
  -->
</div>


  <div class="container-2"> 
    <div class="intro-blurb">
        <img src="/img/sf/workflow.png" alt="workflow graphic" class="intro-graphic" />
      <h3>Leveraging Our City Data to Create Actionable Insights that Drive Business Value</h3>
      <!-- <h3>Leveraging Data Analytics to Improve Government Efficiency</h3> -->
      <p>Data-as-a Service (DaaS) seeks to create persistent, governed, high quality datasets for use within the City to support data distribution, modernize data integration, and set the basis for advanced analytics, including predictive analytics— the use of artificial intelligence and machine learning to gain deeper insights into our data and support the City’s data science initiatives. </p> <a class="dt-btn" href="/start">Getting Started with SFDaaS</a>
    </div>
<div>
  {% if h.dt_theme_get_showcases() %}
  <div class="main-featured">
    <div class="container">
      <div class="row">
        <div class="span12 col1 showcase-container">
{#
          <div class="challenge">
            <h2 style="text-align:center">Enter the <a href="/pages/opendatachallenge">Open Data Challenge</a></h2>
          </div>
#}
          <div class="module-content box">
            <h2 class="heading"><a href="/showcase">Showcases</a></h2>
            <span class="heading-explanation">See what our users are doing with open data. </span>		
            {% snippet 'home/snippets/showcase_list.html', showcases=h.dt_theme_get_showcases() %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if h.dt_theme_get_groups() %}
  <div class="main-browse">
    <div class="container">
      <div class="row">
        <div class="span12 col1">
          <div class="module-content box">
            <div class="strikethrough-wrapper">
              <h2 class="heading"><a href="/group">Topics</a></h2>
              <span class="heading-explanation">
                As datasets are published, they are tagged with categories so you can learn about popular topics. Explore them below.
              </span>
            </div>
             {% for group in h.dt_theme_get_groups(8) %}
              {% if group.package_count > 0 %}
                <a href="/group/{{ group.name }}" class="browse-group">
                  <img class="browse-group-image" class="homepage-group-images" src="{{ group.image_display_url or '/base/images/placeholder-group.png' }}">
                  <div class="browse-group-title">
                    <div class="browse-group-display-name">
                      {{ group.display_name }}
                    </div>
                  </div>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="main-updates">
    <div class="container">
      <div class="row">
        <div class="span6 col1">
          {% snippet 'home/snippets/popular_datasets.html' %}
        </div>
        <div class="span6 col2">
          {% snippet 'home/snippets/recent_datasets.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
