{% set title = g.site_title %}
{% set intro = g.site_intro_text %}

<div role="main" class="hero">
  <div id="content" tabindex="-1" style="display:none"></div>
  <div class="container">
    <div class="module-content box" style="opacity:0.9; margin:0px; padding:5px 20px 20px;">
      <h1 class="hero-text-heading hero-text">{{ title }}</h1>
      <div class="hero-text-description hero-text">
        {{ h.render_markdown(g.site_intro_text) }}
      </div>
    </div>
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
</div>
<div>
  {% if h.dt_theme_get_showcases() %}
  <div class="main-featured">
    <div class="container">
      <div class="row">
        <div class="span12 col1 showcase-container">
          <div class="module-content box" style="padding-bottom:0px">
            <h2 class="heading" style="margin-bottom:0px"><a href="/showcase">Showcases</a></h2>
            {% snippet 'home/snippets/showcase_list.html', showcases=h.dt_theme_get_showcases() %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if h.dt_theme_get_groups() %}
  <div class="main-browse">
    <div class="container">
      <div class="row">
        <div class="span12 col1">
          <div class="module-content box">
            <h2 class="heading"><a href="/group">Groups</a></h2>
            {% for group in h.dt_theme_get_groups() %}
              {% if group.package_count > 0 %}
                <a href="/group/{{ group.name }}" class="browse-group">
                  <img class="browse-group-image" alt="" src="{{ group.image_display_url or '/base/images/placeholder-group.png' }}">
                  <div class="browse-group-title">
                    {{ group.display_name }}
                  </div>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="main-updates">
    <div class="container">
      <div class="row">
        <div class="span6 col1">
          {% snippet 'home/snippets/popular_datasets.html' %}
        </div>
        <div class="span6 col2">
          {% snippet 'home/snippets/recent_datasets.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
