{% ckan_extends %}

{% block head_extras -%}
{% endblock -%}

{% block subtitle %}
  {% if res.name_translated %}
    {{ h.dataset_display_name(c.package) }} - {{ h.scheming_language_text(res.name_translated) }}
  {% else %}
    {{ h.dataset_display_name(c.package) }} - {{ h.resource_display_name(res) }}
  {% endif %}
{% endblock %}

{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = h.dataset_display_name(pkg) %}
    {% if pkg.organization %}
      {% set organization = pkg.organization.title or pkg.organization.name %}
      <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
      <li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</li>
    {% else %}
      <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    {% endif %}
    <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), controller='package', action='read', id=pkg.name %}</li>
  {% else %}
    <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
  {% endif %}
  {% if res.name_translated %}
    <li class="active"><a href="">{{ h.scheming_language_text(res.name_translated)|truncate(30) }}</a></li>
  {% else %}
    <li class="active"><a href="">{{ h.resource_display_name(res)|truncate(30) }}</a></li>
  {% endif %}
{% endblock %}

{% block resource_read_title %}
  {% if res.name_translated %}
    <h1 class="page-heading">{{ h.scheming_language_text(res.name_translated) | truncate(50) }}</h1>
  {% else %}
    <h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>
  {% endif %}
{% endblock %}

{% block resource_actions_inner %}
{% if h.check_access('package_update', {'id':pkg.id }) %}
  <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
{% endif %}
{% if res.url and h.is_url(res.url) %}
  <li>
    <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
      {% if not h.dt_theme_is_resource_data_format_downloadable(res.format) %}
        <i class="icon-eye-open"></i> {{ _('View') }}
      {% else %}
        <i class="icon-download"></i> {{ _('Download') }}
      {% endif %}
    </a>
  </li>
{% elif res.url_type == 'datastore' %}
  <li>
    <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
      <i class="icon-download"></i> {{ _('Download') }}
    </a>
  </li>
{% endif %}

{% endblock %}

{% block resource_additional_information %}
  {% if res.datastore_active and 'enabled' in res.data_dictionary %}
    <section class="module data-dictionary">
      {% set ddict=h.datastore_dictionary(res.id) %}
      <div class="module-content">
        <h2>{{ _('Data Dictionary') }}</h2>
        <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
          <thead>
            <tr>
              <th scope="col">{{ _('Column') }}</th>
              <th scope="col" width="100px">{{ _('Type') }}</th>
              <th scope="col">{{ _('Label') }}</th>
              <th scope="col">{{ _('Description') }}</th>
            </tr>
          </thead>
          {% for f in ddict %}
            <tr {% if loop.index > 5 %}class="toggle-more"{% endif %}>
              <td>{{ f.id }}</td>
              <td>{{ f.type }}</td>
              <td>{{ f.get('info', {}).label }}</td>
              <td>{{ h.render_markdown(f.get('info', {}).notes) }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </section>
  {% endif %}

  {% if res %}
    <section class="module additional-info">
      {% block resource_additional_information_inner %}
      <div class="module-content">
        <h2>{{ _('Additional Information') }}</h2>
        <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more" summary="metadata about the resource">
         {#<thead>
            <tr>
              <th scope="col">{{ _('Field') }}</th>
              <th scope="col">{{ _('Value') }}</th>
            </tr>
          </thead>#}
          <tbody>
            <tr>
              <th scope="row">{{ _('Last updated') }}</th>
              <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('Created') }}</th>
              <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('Format') }}</th>
              <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('License') }}</th>
              <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endblock %}
    </section>
  {% endif %}
{% endblock %}
