{% set latest_datasets = h.dt_theme_recent_datasets() %}

  <div class="module-content box">
      <header>
          <h2 class="heading">New or Modified Datasets</h2>
          <span class="heading-explanation">Browse new or modified datasets below. Click to view details, explore content, or view on a map. </span>
      </header>
      <section id="recent-list">
          {% snippet 'home/snippets/package_list.html', packages=latest_datasets %}
      </section>
  </div>
