{% set tags = h.get_facet_items_dict('tags', limit=10) %}

<div class="module module-search box">
  <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <div class="search-input control-group search-giant">
      <input type="text" class="search daas-text" name="q" value="" autocomplete="off" id="data-search-keyword-input-field" placeholder="{% block search_placeholder %}Search from {{ h.dt_theme_dataset_count() }} Datasets{% endblock %}" title= "{{_('Type search term here')}}"/>
      <button type="submit">
        <i class="fas fa-search"></i>
        <span>{{ _('search') }}</span>
      </button>
    </div>
  </form>
</div>
